body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

#adresse {
  padding-left: 1.2em;
}

.contact-btn {
  margin-top: 1em;
}

.divider {
  margin: 10px 0;
}

#dropdown1 li a {
  color: white;
}

.dropdown-content li:hover,
.dropdown-content li.active {
  background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-content {
  margin-top: 64px;
  top: 0px !important;
}

#footer-row {
  margin-bottom: 0 !important;
}

form button {
  margin-right: 20px;
}

iframe {
  width: 100%;
  height: 300px;
  margin-bottom: -10px;
}

li i {
  margin-right: 5px;
}

#map {
  height: 500px;
}

nav {
  padding-right: 15px;
}

#news {
  padding: 0;
}

.pimg {
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("../media/images/parallax1.jpg");
  min-height: 100%;
}

.pimg2 {
  background-image: url("../media/images/parallax2.jpg");
  min-height: 400px;
}

.pimg3 {
  background-image: url("../media/images/parallax3.jpg");
  min-height: 400px;
}

.pimg4 {
  background-image: url("../media/images/parallax4.jpg");
  min-height: 400px;
}

.pimg5 {
  background-image: url("../media/images/parallax5.jpg");
  min-height: 250px;
}

.ptext {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  /* background-color:#111; */
  color: #fff;
  padding: 20px;
  text-shadow: 2px 2px 0 black;
}

.ptext .border.trans {
  background-color: transparent;
}

.prix {
  padding: 15px 0;
  font-size: 2rem;
  text-shadow: 1px 1px 2px black;
}

.promo i {
  margin: 15px 0;
  color: #666;
  font-size: 4rem;
  display: block;
}

.promo img {
  margin: 15px 0 0 0;
  height: 4rem;
}

section h2 {
  text-transform: uppercase;
}

.section h6 {
  padding: 0 10%;
}

.sidenav .material-icons {
  margin-right: 5px !important;
}

.tarif {
  padding: 8px 8px 0 8px;
}

.thumbnail {
  width: 100%;
}

.titre {
  font-family: "droid_serifbold";
}

#titre-vid {
  padding-bottom: 1em;
}

#twitter {
  padding-right: 1.5em;
}

#youtube {
  padding-right: 0.7em;
}

@media screen and (max-width: 425px) {
  #logo {
    height: 56px;
  }
}
