body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.animations, .section {
  padding-bottom: 0 !important;
}

.animations .container {
  margin: 0 auto !important;
  width: 100%;
}

.animations .container .titre {
  margin: 0.3em;
}

.animations .container p {
  padding: 0.3em;
}

.animations .container .slider {
  height: 600px;
  width: 100%;
  position: relative;
}

.animations .container .slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.animations .container .slider .slide.current {
  opacity: 1;
}

.buttons button#next {
  position: absolute;
  bottom: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  bottom: 40%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

#adresse {
  padding-left: 1.2em;
}

.avatar {
  height: 100px;
  width: 100px !important;
  padding: 5px;
  margin: 0 auto;
}

button.glider-next:focus, button.glider-prev:focus {
  background-color: rgba(0, 0, 0, 0) !important;
}

.card-content {
  padding: 12px 0 0 12px !important;
}

.carre li {
  list-style-type: square !important;
  margin-left: 2.5em;
}

.collapsible-header {
  font-weight: bold;
}

#dropdown1 li a {
  color: white;
}

.dropdown-content li:hover,
.dropdown-content li.active {
  background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-content {
  margin-top: 64px;
  top: 0px !important;
}

footer {
  padding: 0 !important;
}

#footer-row {
  margin-bottom: 0 !important;
}

h3 {
  text-decoration: underline red solid;
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

footer li {
  text-align: inherit;
}

li {
  text-align: justify;
}

li i {
  margin-right: 5px;
}

main {
  flex: 1 0 auto;
  margin-top: 50px;
}

.membres .card {
  max-width: 600px;
  margin: 0.3em auto;
}

.palmares .award {
  font-weight: bold;
}

.palmares .collapsible {
  max-width: 620px;
  margin: 0 auto 1rem auto;
}

.palmares .collapsible li {
  margin-top: 0.5em;
}

.palmares .collapsible-body ul {
  list-style-image: url("../media/images/award-solid.svg");
}

.palmares h2 {
  margin: 20px 0;
}

.palmares .team {
  font-weight: bold;
}

.palmares .trophy {
  color: gold;
  margin-top: 2em;
}

.sidenav .material-icons {
  margin-right: 5px !important;
}

.side-link {
  padding: 0 0 0 1em !important;
}

.statut .bureau {
  font-weight: bolder;
  color: red;
}

.texte-membre {
  margin: 0;
}

.texte-membre .arbitre {
  font-weight: bold;
  color: darkgreen;
}

.texte-membre .niveau {
  font-weight: bold;
  color: darkslateblue;
  margin-left: 1em;
}

.texte-membre .trophy {
  font-weight: bold;
  color: gold;
  margin-left: 1em;
}

.texte-membre .nom {
  font-weight: bold;
}

p {
  text-align: justify;
}

.sidenav-trigger {
  cursor: pointer;
}

.titre {
  font-family: "droid_serifbold";
  text-transform: uppercase;
}

#twitter {
  padding-right: 1.5em;
}

#youtube {
  padding-right: 0.7em;
}

@media screen and (max-width: 599px) {
  #logo {
    height: 56px;
  }
}

/* Photos Animations */

.slide:first-child {
  background: url('../media/photos/animations/photo1.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url('../media/photos/animations/photo2.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('../media/photos/animations/photo3.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('../media/photos/animations/photo4.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('../media/photos/animations/photo5.jpg') no-repeat
    center top/cover;
}
