body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  /* color: #666; */
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.avatar {
  height: 100px;
  width: 100px !important;
  padding: 5px;
  margin: 0 auto;
}

#adresse {
  padding-left: 1.2em;
}

button.glider-next:focus, button.glider-prev:focus {
  background-color: rgba(0, 0, 0, 0) !important;
}

.card-content {
  padding: 12px 0 0 12px !important;
}

#carousel {
  height: 400px;
  width: 711px;
  margin: 50px auto;
}

.carre li {
  list-style-type: square !important;
  margin-left: 2.5em;
}

.collapsible-header {
  font-weight: bold;
}

#dropdown1 li a {
  color: white;
}

.dropdown-content li:hover,
.dropdown-content li.active {
  background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-content {
  margin-top: 64px;
  top: 0px !important;
}

#footer-row {
  margin-bottom: 0 !important;
}

h3 {
  text-decoration: underline red solid;
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

footer li {
  text-align: inherit;
}

li {
  text-align: justify;
}

li i {
  margin-right: 5px;
}

main {
  flex: 1 0 auto;
  margin-top: 50px;
}

.membres .card {
  max-width: 600px;
  margin: 0.3em auto;
}

.palmares .award {
  font-weight: bold;
}

.palmares .collapsible {
  max-width: 620px;
  margin: 0 auto 1rem auto;
}

.palmares .collapsible li {
  margin-top: 0.5em;
}

.palmares .collapsible-body ul {
  list-style-image: url("../media/images/award-solid.svg");
}

.palmares h2 {
  margin: 20px 0;
}

.palmares .team {
  font-weight: bold;
}

.palmares .trophy {
  color: gold;
  margin-top: 2em;
}

.sidenav .material-icons {
  margin-right: 5px !important;
}

.side-link {
  padding: 0 0 0 1em !important;
}

.statut .bureau {
  font-weight: bolder;
  color: red;
}

.texte-membre {
  margin: 0;
}

.texte-membre .arbitre {
  font-weight: bold;
  color: darkgreen;
}

.texte-membre .niveau {
  font-weight: bold;
  color: darkslateblue;
  margin-left: 1em;
}

.texte-membre .trophy {
  font-weight: bold;
  color: gold;
  margin-left: 1em;
}

.texte-membre .nom {
  font-weight: bold;
}

p {
  text-align: justify;
}

.titre {
  font-family: "droid_serifbold";
  text-transform: uppercase;
}

#twitter {
  padding-right: 1.5em;
}

#youtube {
  padding-right: 0.7em;
}

@media screen and (max-width: 711px) {
  #carousel {
    height: auto;
    width: 260px;
  }
}

@media screen and (max-width: 425px) {
  #logo {
    height: 56px;
  }
}
